__pycache__/
*.pyc
.ipynb_checkpoints/
checkpoints/
outputs/
*.bin
*.pt
*.safetensors
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
drive/
.env

# We still WANT to keep the final submission csv
submission/*
!submission/submission.csv
